{% extends 'base.html' %}

{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap3 %}
{% load tags %}

{% block title %}Test Plan Manager{% endblock %}
{% block content_header %}
    <a href="#" id="testplan-name">{{ testplan.name }}</a>
{% endblock %}
{% block content_subheader %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Test plans" "testplan_list" %}
    {% breadcrumb testplan.name "testplan_details" testplan.id %}
    {% breadcrumb "Rule" "rule_details" %}
{% endblock %}

{% block styles %}
    <!-- DATA TABLES -->
    <link href="{% static 'webui/css/datatables/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <!-- X-editable -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <!-- X-Editable -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $.fn.editable.defaults.mode = 'inline';

            //editables
            $('#id_ruleName').editable({
                url: '{% url 'rule_update' testplan.id rule.id %}',
                type: 'text',
                pk: {{ rule.id }},
                name: 'ruleName',
                title: 'Rule name',
                inputclass: 'title-input',
                params: '{csrfmiddlewaretoken:"{{csrf_token}}"}'
            });

            //editables
            $('#id_ruleDescription').editable({
                url: '{% url 'rule_update' testplan.id rule.id %}',
                type: 'textarea',
                pk: {{ rule.id }},
                name: 'ruleDescription',
                title: 'Rule description',
                inputclass: 'description-input',
                params: '{csrfmiddlewaretoken:"{{csrf_token}}"}'
            });

            $('#id_ruleType').editable({
                url: '{% url 'rule_update' testplan.id rule.id %}',
                type: 'select',
                pk: {{ rule.id }},
                name: 'ruleType',
                title: 'Rule type',
                mode: 'popup',
                value: '{{ rule.type }}',
                source: [{value: 'request', text: "Request"}, {value: 'response', text: "Response"}],
                emptytext: "Empty",
                params: '{csrfmiddlewaretoken:"{{csrf_token}}"}'
            });

            $('#id_ruleEnabled').editable({
                url: '{% url 'rule_update' testplan.id rule.id %}',
                type: 'select',
                pk: {{ rule.id }},
                name: 'ruleEnabled',
                title: 'Enabled',
                mode: 'popup',
                value: {{ rule.enabled|bool_to_int }},
                source: [{value: 0, text: "False"}, {value: 1, text: "True"}],
                emptytext: "Empty",
                params: '{csrfmiddlewaretoken:"{{csrf_token}}"}'
            });


            $('#{{ form.actionType.id_for_label }}').on('change', function() {
                enableFields(this.value);
            });

            function enableFields(action_type_id) {
                //alert( this.value ); // or $(this).val()
                if (action_type_id == 'modify_request') {
                    // show method
                    $('#{{ form.actionMethod.id_for_label }}').parent().show();
                    // show URL
                    $('#{{ form.actionUrl.id_for_label }}').parent().show();
                    // hide Status Code
                    $('#{{ form.actionStatusCode.id_for_label }}').parent().hide();
                    // hide Status Description
                    $('#{{ form.actionStatusDescription.id_for_label }}').parent().hide();
                    // hide Payload
                    $('#{{ form.actionPayload.id_for_label }}').parent().hide();
                }
                else if (action_type_id == 'new_response') {
                    // hide method
                    $('#{{ form.actionMethod.id_for_label }}').parent().hide();
                    // hide URL
                    $('#{{ form.actionUrl.id_for_label }}').parent().hide();
                    // show Status Code
                    $('#{{ form.actionStatusCode.id_for_label }}').parent().show();
                    // show Status Description
                    $('#{{ form.actionStatusDescription.id_for_label }}').parent().show();
                    // show Payload
                    $('#{{ form.actionPayload.id_for_label }}').parent().show();
                }
            }

            enableFields($('#{{ form.actionType.id_for_label }}').val() );
        });
    </script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="header"><i class="fa fa-info-circle"></i>Rule details</li>
                </ul>
                <div class="tab-content">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd><a href="#" id="id_ruleName">{{ rule.name }}</a></dd>
                        <dt>Description</dt>
                        <dd><a href="#" id="id_ruleDescription">{{ rule.description }}</a></dd>
                        <dt>Type</dt>
                        <dd><a href="#" id="id_ruleType">{{ rule.type }}</a></dd>
                        <dt>Enabled</dt>
                        <dd><a href="#" id="id_ruleEnabled">{{ rule.enabled }}</a></dd>
                        <dt>Created at</dt>
                        <dd>{{ testplan.createdAt }}</dd>
                        <dt>Last updated</dt>
                        <dd>{{ testplan.updatedAt }}</dd>
                    </dl>
                </div><!-- /.tab-content -->
            </div>
        </div>
        <form method="post" action="{% url "testplan_new" %}">
            <div class="col-md-6">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="header"><i class="fa fa-filter"></i>Filter</li>
                    </ul>
                    <div class="tab-content">

                        {% bootstrap_field form.filterProtocol %}
                        {% bootstrap_field form.filterMethod %}
                        {% bootstrap_field form.filterUrl %}

                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="header"><i class="fa fa-pencil"></i>Action</li>
                    </ul>
                    <div class="tab-content">
                        {% bootstrap_field form.actionType %}
                        {% bootstrap_field form.actionProtocol %}
                        {% bootstrap_field form.actionMethod %}
                        {% bootstrap_field form.actionUrl %}
                        {% bootstrap_field form.actionStatusCode %}
                        {% bootstrap_field form.actionStatusDescription %}
                        {% bootstrap_field form.actionPayload %}
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary bold">Save</button>
                            <a class="btn btn-default bold lmargin10" href="{% url "testplan_details" testplan.id %}" role="button">Cancel</a>
                        {% endbuttons %}
                    </div><!-- /.tab-content -->
                </div>
            </div>
        </form>
    </div>


{% endblock %}