/* Colors */
.green {
  color: green;
}

.red {
  color: red;
}

/* Icons */
.glyphicon-2x {
    font-size: 18px;
}

/* Spaces */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

/* X-Editable */
.title-input{
   width: 300px !important;
}

.description-input{
   width: 300px !important;
}

/* font style */
.bold {
    font-weight: bold !important;
}


/* Wizard */
.navbar-wizard {
    background-color: #1b1b1b !important;
}

.navbar-wizard .navbar-nav>.active>a {
    color: #fff !important;
    font-weight: bold !important;
    background-color: #3f3f3f !important;
}

/* Margins */

.lmargin10 {
    margin-left: 10px;
}

.tmargin10 {
    margin-top: 10px;
}

.tmargin20 {
    margin-top: 20px;
}

.tmargin30 {
    margin-top: 30px;
}


#signup-form            { position:relative; min-height:300px; overflow:hidden; }

#form-views             { width:auto; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#form-views.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}