{% extends 'base.html' %}

{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap3 %}
{% load tags %}

{% block title %}Test Plan Manager{% endblock %}
{% block content_header %}
    <a href="{% url "testplan_details" testplan.id %}" id="testplan-name">{{ testplan.name }}</a>
{% endblock %}
{% block content_subheader %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Test plans" "testplan_list" %}
    {% breadcrumb testplan.name "testplan_details" testplan.id %}
    {% breadcrumb "Rule" "rule_details" %}
{% endblock %}

{% block styles %}
    <!-- DATA TABLES -->
    <link href="{% static 'webui/css/datatables/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <!-- X-editable -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <!-- X-Editable -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.fn.editable.defaults.mode = 'inline';

            //editables
            $('#id_ruleName').editable({
                url: '{% url 'rule_update' testplan.id rule.id %}',
                type: 'text',
                pk: '{{ rule.id }}',
                name: 'name',
                title: 'Rule name',
                inputclass: 'title-input',
                params: '{csrfmiddlewaretoken:"{{csrf_token}}"}'
            });

            //editables
            $('#id_ruleDescription').editable({
                url: '{% url 'rule_update' testplan.id rule.id %}',
                type: 'textarea',
                pk: '{{ rule.id }}',
                name: 'description',
                title: 'Rule description',
                inputclass: 'description-input',
                params: '{csrfmiddlewaretoken:"{{csrf_token}}"}'
            });

            $('#id_ruleEnabled').editable({
                url: '{% url 'rule_update' testplan.id rule.id %}',
                type: 'select',
                pk: '{{ rule.id }}',
                name: 'enabled',
                title: 'Enabled',
                mode: 'popup',
                value: {{ rule.enabled|bool_to_int }},
                source: [{value: 0, text: "False"}, {value: 1, text: "True"}],
                emptytext: "Empty",
                params: '{csrfmiddlewaretoken:"{{csrf_token}}"}'
            });


            $('#{{ form.ruleType.id_for_label }}').on('change', function () {
                onRuleTypeChanged(this.value);
            });

            $('#{{ form.actionType.id_for_label }}').on('change', function () {
                enableActionFields(this.value);
            });


            function onRuleTypeChanged(rule_type) {
                if (rule_type == 'request') {
                    $('#{{ form.filterStatusCode.id_for_label }}').parent().hide();
                    $('#filterResponseHeaders').parent().hide();
                } else if (rule_type == 'response') {
                    $('#{{ form.filterStatusCode.id_for_label }}').parent().show();
                    $('#filterResponseHeaders').parent().show();
                }
            }

            function enableActionFields(action_type_id) {

                //alert( this.value ); // or $(this).val()
                if (action_type_id == 'modify') {
                    $('#drop-connection-alert').hide();
                    $('#{{ form.actionProtocol.id_for_label }}').parent().show();
                    $('#{{ form.actionMethod.id_for_label }}').parent().show();
                    $('#{{ form.actionUrl.id_for_label }}').parent().show();
                    $('#{{ form.actionStatusCode.id_for_label }}').parent().hide();
                    $('#{{ form.actionStatusDescription.id_for_label }}').parent().hide();
                    $('#actionHeaders').parent().show();
                    $('#actionDeleteHeaders').parent().show();
                    $('#{{ form.actionPayload.id_for_label }}').parent().hide();
                }
                else if (action_type_id == 'newResponse') {
                    $('#drop-connection-alert').hide();
                    $('#{{ form.actionProtocol.id_for_label }}').parent().show();
                    $('#{{ form.actionMethod.id_for_label }}').parent().hide();
                    $('#{{ form.actionUrl.id_for_label }}').parent().hide();
                    $('#{{ form.actionStatusCode.id_for_label }}').parent().show();
                    $('#{{ form.actionStatusDescription.id_for_label }}').parent().show();
                    $('#actionHeaders').parent().show();
                    $('#actionDeleteHeaders').parent().hide();
                    $('#{{ form.actionPayload.id_for_label }}').parent().show();
                }
                else if (action_type_id == 'drop' || action_type_id == 'reset') {
                    $('#drop-connection-alert').show();
                    $('#{{ form.actionProtocol.id_for_label }}').parent().hide();
                    $('#{{ form.actionMethod.id_for_label }}').parent().hide();
                    $('#{{ form.actionUrl.id_for_label }}').parent().hide();
                    $('#{{ form.actionStatusCode.id_for_label }}').parent().hide();
                    $('#{{ form.actionStatusDescription.id_for_label }}').parent().hide();
                    $('#actionHeaders').parent().hide();
                    $('#actionDeleteHeaders').parent().hide();
                    $('#{{ form.actionPayload.id_for_label }}').parent().hide();
                }
            }

            onRuleTypeChanged($('#{{ form.ruleType.id_for_label }}').val());
            enableActionFields($('#{{ form.actionType.id_for_label }}').val());

            $('#filter_addRequestHeaderButton').on('click', function () {
               $('#filterRequestHeaders > tbody:last').append('<tr><td>' +
               '<input type="text" class="form-control input-sm" placeholder="Header name" name="filterRequestHeaderKeys[]" />' +
               '</td><td>' +
               '<input type="text" class="form-control input-sm" placeholder="Header value" name="filterRequestHeaderValues[]" />' +
               '</td><td>' +
               '<a class="btn btn-default btn-sm filter_deleteHeader" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>' +
               '</td></tr>');

                $( ".filter_deleteHeader" ).bind( "click", function() {
                    var tr = $(this).closest('tr');
                    tr.fadeOut(400, 0, function(){
                        tr.remove();
                    });
                    return false;
                });
            });

            $('#filter_addResponseHeaderButton').on('click', function () {
               $('#filterResponseHeaders > tbody:last').append('<tr><td>' +
               '<input type="text" class="form-control input-sm" placeholder="Header name" name="filterResponseHeaderKeys[]" />' +
               '</td><td>' +
               '<input type="text" class="form-control input-sm" placeholder="Header value" name="filterResponseHeaderValues[]" />' +
               '</td><td>' +
               '<a class="btn btn-default btn-sm filter_deleteHeader" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>' +
               '</td></tr>');

                $( ".filter_deleteHeader" ).bind( "click", function() {
                    var tr = $(this).closest('tr');
                    tr.fadeOut(400, 0, function(){
                        tr.remove();
                    });
                    return false;
                });
            });

            $('#action_addHeaderButton').on('click', function () {
               $('#actionHeaders > tbody:last').append('<tr><td>' +
               '<input type="text" class="form-control input-sm" placeholder="Header name" name="actionHeaderKeys[]" />' +
               '</td><td>' +
               '<input type="text" class="form-control input-sm" placeholder="Header value" name="actionHeaderValues[]" />' +
               '</td><td>' +
               '<a class="btn btn-default btn-sm action_deleteHeader" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>' +
               '</td></tr>');

                $( ".action_deleteHeader" ).bind( "click", function() {
                    var tr = $(this).closest('tr');
                    tr.fadeOut(400, 0, function(){
                        tr.remove();
                    });
                    return false;
                });
            });

            $('#action_addDeleteHeaderButton').on('click', function () {
               $('#actionDeleteHeaders > tbody:last').append('<tr><td>' +
               '<input type="text" class="form-control input-sm" placeholder="Header name" name="actionDeleteHeaderKeys[]" />' +
               '</td><td>' +
               '<a class="btn btn-default btn-sm action_deleteDeleteHeader" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>' +
               '</td></tr>');

                $( ".action_deleteDeleteHeader" ).bind( "click", function() {
                    var tr = $(this).closest('tr');
                    tr.fadeOut(400, 0, function(){
                        tr.remove();
                    });
                    return false;
                });
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="row">
        <form method="post" action="{% url 'rule_details' testplan.id rule.id %}">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="header"><i class="fa fa-info-circle"></i>Rule details</li>
                    </ul>
                    <div class="tab-content">
                        <dl class="dl-horizontal">
                            <dt>Name</dt>
                            <dd><a href="#" id="id_ruleName">{{ rule.name }}</a></dd>
                            <dt>Description</dt>
                            <dd><a href="#" id="id_ruleDescription">{{ rule.description }}</a></dd>
                            <dt>Type</dt>
                            <dd>{{ form.ruleType }}</dd>
                            <dt>Enabled</dt>
                            <dd><a href="#" id="id_ruleEnabled">{{ rule.enabled }}</a></dd>
                            <dt>Created at</dt>
                            <dd>{{ testplan.createdAt }}</dd>
                            <dt>Last updated</dt>
                            <dd>{{ testplan.updatedAt }}</dd>
                        </dl>
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="header"><i class="fa fa-filter"></i>Filter</li>
                    </ul>
                    <div class="tab-content">

                        {% bootstrap_field form.filterProtocol %}
                        {% bootstrap_field form.filterMethod %}
                        {% bootstrap_field form.filterUrl %}

                        <div class="form-group">
                            <label class="control-label">Request Headers</label>
                            <table id="filterRequestHeaders" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if rule.filter.requestHeaders %}
                                        {% for header in rule.filter.requestHeaders %}
                                            <tr>
                                                <td><input type="text" class="form-control input-sm" placeholder="Header name" name="filterRequestHeaderKeys[]" value="{{ header.key }}" /></td>
                                                <td><input type="text" class="form-control input-sm" placeholder="Header value" name="filterRequestHeaderValues[]" value="{{ header.value }}" /></td>
                                                <td><a class="btn btn-default btn-sm filter_deleteHeader" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                            <a id="filter_addRequestHeaderButton" class="btn btn-default btn-sm bold"
                               role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add header</a>
                        </div>

                        {% bootstrap_field form.filterStatusCode %}

                        <div class="form-group">
                            <label class="control-label">Response Headers</label>
                            <table id="filterResponseHeaders" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if rule.filter.responseHeaders %}
                                        {% for header in rule.filter.responseHeaders %}
                                            <tr>
                                                <td><input type="text" class="form-control input-sm" placeholder="Header name" name="filterResponseHeaderKeys[]" value="{{ header.key }}" /></td>
                                                <td><input type="text" class="form-control input-sm" placeholder="Header value" name="filterResponseHeaderValues[]" value="{{ header.value }}" /></td>
                                                <td><a class="btn btn-default btn-sm filter_deleteHeader" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                            <a id="filter_addResponseHeaderButton" class="btn btn-default btn-sm bold"
                               role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add header</a>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="header"><i class="fa fa-pencil"></i>Action</li>
                    </ul>
                    <div class="tab-content">

                        {% bootstrap_field form.actionType %}

                        <div id="drop-connection-alert" class="alert alert-warning tmargin30">
                            <i class="fa fa-warning"></i>
                            <b>Beware!</b> This will forcibly close the connection with the client.
                        </div>

                        {% bootstrap_field form.actionProtocol %}
                        {% bootstrap_field form.actionMethod %}
                        {% bootstrap_field form.actionUrl %}
                        {% bootstrap_field form.actionStatusCode %}
                        {% bootstrap_field form.actionStatusDescription %}

                        <div class="form-group">
                            <label class="control-label">Headers</label>
                            <table id="actionHeaders" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if rule.action.headers %}
                                        {% for header in rule.action.headers %}
                                            <tr>
                                                <td><input type="text" class="form-control input-sm" placeholder="Header name" name="actionHeaderKeys[]" value="{{ header.key }}" /></td>
                                                <td><input type="text" class="form-control input-sm" placeholder="Header value" name="actionHeaderValues[]" value="{{ header.value }}" /></td>
                                                <td><a class="btn btn-default btn-sm action_deleteHeader" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                            <a id="action_addHeaderButton" class="btn btn-default btn-sm bold"
                               role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add header</a>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Delete headers</label>
                            <table id="actionDeleteHeaders" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if rule.action.deleteHeaders %}
                                        {% for header in rule.action.deleteHeaders %}
                                            <tr>
                                                <td><input type="text" class="form-control input-sm" placeholder="Header name" name="actionDeleteHeaderKeys[]" value="{{ header.key }}" /></td>
                                                <td><a class="btn btn-default btn-sm action_deleteDeleteHeader" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                            <a id="action_addDeleteHeaderButton" class="btn btn-default btn-sm bold"
                               role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add header</a>
                        </div>

                        {% bootstrap_field form.actionPayload %}

                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary bold">Save</button>
                            <a class="btn btn-default bold lmargin10" href="{% url "testplan_details" testplan.id %}"
                               role="button">Cancel</a>
                        {% endbuttons %}
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </form>
    </div>


{% endblock %}