{% extends 'base.html' %}

{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap3 %}
{% load tags %}

{% block title %}Test Plan Manager{% endblock %}
{% block content_header %}
    <a href="{% url "testplan_details" testplan.id %}" id="testplan-name">{{ testplan.name }}</a>
{% endblock %}
{% block content_subheader %}Create a new Rule{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Test Plans" "testplan_list" %}
    {% breadcrumb testplan.name "testplan_details" testplan.id %}
    {% breadcrumb "Create a new Rule" "rule_new" %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form method="post" action="{% url "rule_new" testplan.id %}" class="form-horizontal">
                    <div class="box-header">
                        <h3 class="box-title">New Rule</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        {% csrf_token %}
                        {% bootstrap_form form layout='horizontal' %}
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        {% buttons %}
                            <span class="col-md-2 col-md-offset-1">
                                <button type="submit" class="btn btn-primary bold">Create</button>
                                <a class="btn btn-default bold lmargin10" href="{% url "testplan_list" %}" role="button">Cancel</a>
                            </span>
                        {% endbuttons %}
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>


{% endblock %}